<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", Verdana}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Project 3</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-light-grey" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
    </div>
  </div>
  <div class="w3-container">
    <h6>Search By City</h6>
    <select id="City" onchange="optionChanged(this.value)"></select>
      </div>
      <br>
  <hr>
  <div class="w3-container">
    <div class="card card-primary">
      <div class="card-header">
    <h6 class="card-title">Sighting Details</h6>
    <p>x</p>
  </div>
  <div class="w3-bar-block">
  </div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container w3-text-green" style="padding-top:22px">
    <h2><b> UFO Dashboard</b></h2>
  </header>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0">
      <div class="w3-third">
        <h5>Type of UFO</h5>
        <p>Insert Bar Chart Here</p>
      </div>
    </div>
  </div>
  <div class="w3-container" style="margin:0 16px">
    <h5>Sightings Map</h5>
    <p>Insert Sightings Map Here</p>
  </div>
  <hr>

  <div class="w3-container w3-dark-grey w3-padding-15">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5> Sightings Over Time</h5>
      </div>
      <div class="w3-container w3-third">
        <p>Insert Table from Python Here</p>
      </div>
    </div>
  </div>

  <!-- End page content -->
</div>
</body>