<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
  
<!-- Leaflet MarkerCluster CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
  
<!-- Our Style CSS -->
<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", Verdana}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Project 3</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-light-grey" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
    </div>
  </div>
  <div class="w3-container">
    <h6>Search By City</h6>
    <select id="City" onchange="optionChanged(this.value)"></select>
      </div>
      <br>
  <hr>
  <div class="w3-container">
    <div class="card card-primary">
      <div class="card-header">
        <h6 class="card-title">Sighting Details</h6>
      </div>
      <div class="card-body">
        <div id="sighting-details"></div>
      </div>
    </div>
  </div>
  <div class="w3-bar-block">
  </div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container w3-text-green" style="padding-top:22px">
    <h2><b> UFO Dashboard</b></h2>
  </header>
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin: 0">
        <div class="w3-half">
            <div class="chart-container">
                <h5><strong>What type of UFO Shape is the most common?</strong></h5>
                <p>Light is the most common - are they airplanes or aliens? - followed by Circle and Triangle.<p>
                <canvas id="sightingsByShape"></canvas>
            </div>
        </div>
        <div class="w3-half">
            <div class="chart-container">
                <h5><strong>Which coast has the most UFO encounters?<strong></h5>
                <p>According to the Top 10 States, California has the most recorded UFO sightings - 40% more than the next closest State, Florida. 
                  Due to California's significant amount of UFO sightings, plus 3 out of the Top 5 States in terms of sighting count (Arizona, Washington), the West Coast has more sightings.<p>
                <canvas id="sightingsByState"></canvas>
            </div>
        </div>
    </div>
  </div>

  <div class="w3-container" style="margin:0 16px">
    <h5>Sightings Map</h5>
    
    <!-- The div that holds our map -->
    <div id="map" style="height: 800px;"></div>
  </div>
  <hr>

  <div class="w3-container w3-dark-grey w3-padding-15">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5> Sightings Over Time</h5>
      </div>
      <div class="w3-container w3-third">
        <p>Insert Table from Python Here</p>
      </div>
    </div>
  </div>

  <!-- End page content -->
</div>

<!-- D3 JavaScript -->
<script src="https://d3js.org/d3.v7.min.js"></script>

<!-- Chart JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<!-- Leaflet MarkerCluster JavaScript -->
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

<!-- Our JavaScript-->
<script src="./static/js/app-lee.js"></script>

</body>
<html>