<!DOCTYPE html>
<html>
<head>
<title>Project 3</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=3">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body,h1 {font-family: "Raleway", Arial}
body, html {height: 100%}
.bgimg {
  background-image: url('static/ufo.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    DataViz Bootcamp Project 3
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-xxlarge w3-animate-top">You Only Know What U.F.O.</h1>
    <p class="w3-large w3-center"><a href="/home">Click Here for More</a></p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div>
</div>

</body>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="./static/js/app-lee.js"></script>

</html>